h1{
    text-align:center;
}
.my_photo{
    width:50%;
    
    margin-left: 25%;
    border: 7px solid black;
    color: black;
    font-family: "Libre Baskerville", serif;
    text-align: center;


}

body{
    background-color: ;
}